.history-page {
  min-height: 100vh;
  background: #eef7ef;

  display: flex;
  justify-content: center;

  padding: 20px;
}

.history-card {
  width: 100%;
  max-width: 1280px;

  background: #eef7ef;

  padding: 30px;
  padding-bottom: 120px;

  position: relative;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 35px;
}

.history-header h1 {
  color: #1f2b46;
  font-size: 32px;
  font-weight: 700;
}

.top-icon {
  font-size: 28px;
  color: #1f2b46;
  cursor: pointer;
}

.history-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.history-item {
  background: white;

  border-radius: 18px;

  padding: 14px;

  display: flex;
  align-items: center;

  box-shadow: 0 4px 14px rgba(0,0,0,0.05);
}

.history-image {
  width: 65px;
  height: 65px;

  object-fit: cover;

  border-radius: 12px;
}

.history-info {
  flex: 1;
  margin-left: 16px;
}

.history-info h4 {
  color: #1f2b46;
  font-size: 18px;
  margin-bottom: 5px;
}

.history-info p {
  color: #7a87a2;
  font-size: 14px;
}

.history-score {
  background: #d8f7dc;
  color: #1d8f42;

  padding: 10px 14px;

  border-radius: 10px;

  font-weight: 700;
}

/* Bottom Nav */

.bottom-nav {
  position: fixed;

  bottom: 20px;

  width: min(92%, 430px);

  background: white;

  height: 75px;

  border-radius: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4px;

  color: #20b04b;

  cursor: pointer;

  font-size: 13px;
}

.nav-item svg {
  font-size: 22px;
}

.active {
  font-weight: 700;
}

.camera-btn {
  width: 62px;
  height: 62px;

  border-radius: 50%;

  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -40px;

  color: #20b04b;

  box-shadow: 0 8px 22px rgba(0,0,0,0.12);

  cursor: pointer;
}

.camera-btn svg {
  font-size: 28px;
}

@media (min-width: 1024px) {

  .history-card{
    max-width:1200px;
    padding:50px;
  }

  .history-list{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
  }

  .history-item{
    margin-bottom:0;
  }

}